.hero-section {
    padding-top: 5%;
    min-height: calc(100vh - 71px - 72px);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 5%;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.hero-content {
    max-width: 550px;
}

.greeting {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.name {
    font-size: 3.5rem;
    font-weight: 700;
    /* background: linear-gradient(90deg, #ff4d6d, #b92b27); */
    background: #16a086;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;
}

.role-badge {
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.bio {
    color: #f1f1f8;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2.5rem;
    margin-left: 0.5rem;
}

.social-icons a {
    color: #fff;
    font-size: 1.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: #16a086;
    transform: translateY(-3px);
}

.hero-image img {
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.5));
}

@media (max-width: 968px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
    }

    .hero-content {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .nav-links {
        display: none;
    } */
}